.colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(65, 169, 36);
}

.container {
    display: flex;
    background-color: rgba(0, 255, 85, 0.608);
    justify-content: center;
}

.input-date {
    margin: 5px;
    padding: 5px;
    width: 0 auto;
    height: 100px;
    background-color: rgb(50, 137, 25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#amount:focus {
    background-color: rgb(106, 255, 0);
}

#interest-rate:focus {
    background-color: rgb(106, 255, 0);
}

#time:focus {
    background-color: rgb(106, 255, 0);
}

#amount,
#interest-rate,
#time {
    margin: 0 auto;
    background-color: rgb(65, 169, 36);
    width: 200px;
    border: 5px;
    border-style: solid;
    border-color: rgb(70, 185, 45);
    font-size: 18px;
    font-family: montserrat;
    color: rgb(9, 72, 1);
}

.label {
    font-size: 25px;
    padding: 2px;
    margin: 0;
}

.info {
    background-color: rgb(50, 137, 25);
    display: flex;
    justify-content: center;
    margin: 0;
}

.btns {
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

#btn {
    background-color: #6AFF00;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgb(21, 52, 5);
    font-size: 18px;
    font-family: montserrat;
    color: rgb(19, 62, 8);
}

@media (max-width: 768px),
handheld and (orientation: portrait) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}